{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>회원수정을 해주세요</b></div>
        <div class="card-header d-flex justify-content-center">
            <img id="preview" class="circle_avatar" src="/images/basic.jpg">
        </div>
        <div class="card-body">
            <form action="#">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter username" name="username" disabled>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email" disabled>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" placeholder="Enter pic" name="pic">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입수정</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}